text {
	font-size: 9pt;
	font-family: sans-serif;
}

.percentage,
.date,
.title {
	font-weight: bold;
}

.source {
	font-style: italic;
	font-size: 7pt;
}

.publisher {
	text-transform: uppercase;
	font-size: 7pt;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.bar-section {
	fill: #C4CDD2;
	stroke-fill: #E3E7EA;
	stroke-width: 1;
}

.graph-line {
	stroke-dasharray: 1 2;
	stroke: #B2B2B2;
}

.tick {
	stroke: black;
	stroke-width: 0.5;
}
